@tailwind base;
@tailwind components;
@tailwind utilities;

.paragraph-style {
    font-family: 'Almarai', sans-serif; /* Usando una fuente moderna */
    font-size: 1.125rem; /* Un tamaño de fuente cómodo */
    line-height: 1.75rem; /* Aumentando el interlineado para mayor legibilidad */
    color: #333333; /* Un color oscuro para mayor contraste */
    margin-bottom: 1rem; /* Espaciado entre párrafos */
    font-weight: 400; /* Peso normal */
    transition: color 0.3s ease; /* Transición suave para color al pasar el ratón */
    }
    
    .paragraph-style:hover {
        color: #2b6cb0; /* Color azul al pasar el ratón */
    }

    .back-general{
        background-color: #e2e8f0;
    }


    body {
        font-family: 'Almarai', sans-serif; 
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Cinzel', serif; 
    }

        p {
        font-family: 'Almarai', sans-serif; 
        }